* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.p-light {
  color: #F1F1F1;
}

.p-main {
  color: #153E51;
}

.p-secondary {
  color: #3C88A0;
}

.p-title {
  font-weight: 400;
}

.brand-dark {
  color: #153E51;
  font-weight: 300;
}

.brand-light {
  color: #3C88A0;
  font-weight: 300;
}

.main-par {
  font-size: 1.2rem;
}

.btn-cta {
  background-color: #87033F;
  color: #F1F1F1;
  padding: 1rem 2rem;
  border-radius: 30px;
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  margin-top: 1rem;
  text-align: center;
  white-space: nowrap;
}

.btn-cta:hover {
  background-color: #0F182D;
  color: #F1F1F1;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  border-bottom: solid 3px #87033F;
}

li {
  list-style: none;
}

body {
  line-height: 1.8;
  background-color: #F1F1F1;
  background: url("img/bg1.png") no-repeat fixed center;
  background-size: 120%;
}

body header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
  color: #153E51;
  background-color: #F1F1F1;
}

body header nav #nav-logo img {
  width: 70%;
}

body header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav ul li {
  padding: 0 1rem;
}

body header nav ul li a {
  color: #153E51;
  font-weight: 400;
}

body #hero {
  height: 100vh;
  width: 100vw;
  background-color: #0F182D;
  background-image: -webkit-gradient(linear, left top, right top, from(#0F182D), to(#153E51));
  background-image: linear-gradient(to right, #0F182D, #153E51);
  position: relative;
  -webkit-animation: onload 1.8s;
          animation: onload 1.8s;
}

body #hero #hero-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100vh;
  padding: 15% 0 0 20%;
  color: #F1F1F1;
  position: relative;
}

body #hero #hero-text h1 {
  font-size: 3rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 300;
}

body #hero::before {
  content: "";
  background: url("img/hero1.png");
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  opacity: 0.3;
}

@-webkit-keyframes onload {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes onload {
  0% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

body main #main-wrapper {
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 7rem 0;
}

body main #main-wrapper #main-text {
  color: #153E51;
  margin-right: 5rem;
}

body main #main-wrapper #main-text .p-title {
  margin-bottom: 1rem;
  font-size: 4rem;
}

body #section-items {
  background-color: #F1F1F1;
  padding: 3rem;
}

body #section-items #div-item {
  padding: 0 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

body #section-items #div-item .wrapper-box-item:nth-child(2) {
  margin-top: 15%;
}

body #section-items #div-item .wrapper-box-item:nth-child(3) {
  margin-top: 25%;
}

body #section-items #div-item .wrapper-box-item .box-item {
  padding: 4rem;
  margin: 1rem;
  color: #0F182D;
  letter-spacing: 1px;
  -webkit-box-shadow: -12px -12px 12px 0 rgba(249, 249, 249, 0.89), 12px 12px 12px 0 rgba(86, 86, 86, 0.096);
          box-shadow: -12px -12px 12px 0 rgba(249, 249, 249, 0.89), 12px 12px 12px 0 rgba(86, 86, 86, 0.096);
  margin-top: 3rem;
  -webkit-transform: translateX(-100vw);
          transform: translateX(-100vw);
}

body #section-items #div-item .wrapper-box-item .box-item .box-icon {
  color: #87033F;
  margin-bottom: 2rem;
}

body .bg-line-light {
  height: 3rem;
  background-color: #fff;
  display: block;
}

body .bg-line-light .bg-curve-light {
  height: 3rem;
  background-color: #F1F1F1;
  border-radius: 0 0 100% 100%;
  display: block;
}

body #section-secondary {
  background-color: #fff;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

body #section-secondary #section-secondary-img img {
  width: 110%;
}

body #section-secondary #section-secondary-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem;
  color: #153E51;
}

body #section-secondary #section-secondary-text .btn-cta {
  margin-top: 3rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body #section-details {
  background-color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 6rem 3rem;
}

body #section-details .section-details-card-wrapper {
  padding: 0 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

body #section-details .section-details-card-wrapper .section-details-card {
  background-color: #0F182D;
  background-color: #F1F1F1;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  margin: 2rem 1rem;
  -webkit-box-shadow: -12px -12px 12px 0 rgba(249, 249, 249, 0.89), 12px 12px 12px 0 rgba(86, 86, 86, 0.096);
          box-shadow: -12px -12px 12px 0 rgba(249, 249, 249, 0.89), 12px 12px 12px 0 rgba(86, 86, 86, 0.096);
  width: 15rem;
  height: 25rem;
}

body #section-details .section-details-card-wrapper .section-details-card .card-title {
  color: #F1F1F1;
  color: #0F182D;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #section-details .section-details-card-wrapper .section-details-card .card-icon {
  background-color: #F1F1F1;
  background-color: #fdfdfd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #87033F;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body #section-details .section-details-card-wrapper .section-details-card .card-p {
  font-size: 0.8rem;
  color: #F1F1F1;
  color: #0F182D;
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body form {
  background-color: #fff;
  padding: 3rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form #form-text-wrapper {
  padding: 3rem;
  text-align: center;
}

body form #form-text-wrapper .p-title {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

body form #contact-wrapper {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem;
}

body form #contact-wrapper .form-field {
  padding: 0 5rem;
}

body form #contact-wrapper .form-field label {
  display: block;
  margin-top: 1rem;
}

body form #contact-wrapper .form-field span {
  color: #87033F;
  font-weight: 900;
  margin-left: 0.5rem;
}

body form #contact-wrapper .form-field input, body form #contact-wrapper .form-field textarea {
  border: none;
  width: 100%;
  padding: 0.5rem;
  color: #0F182D;
  letter-spacing: 1px;
  background-color: #F1F1F1;
}

body form #contact-wrapper .form-field input:focus, body form #contact-wrapper .form-field textarea:focus {
  outline-color: #87033F;
}

body form #contact-wrapper .form-field textarea {
  height: 150px;
}

body form #contact-wrapper button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body footer {
  background-color: #0F182D;
  padding: 1rem 3rem;
  color: #F1F1F1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer #footer-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body footer #footer-contact a {
  text-transform: lowercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  color: #F1F1F1;
}

body footer #footer-copy {
  line-height: 2;
  font-size: 0.8rem;
}

body footer #footer-copy img {
  margin-bottom: 2rem;
}
/*# sourceMappingURL=style.css.map */